
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CleanFinance</title>
  <link routerLink="preconnect" routerLink="https://fonts.googleapis.com">
  <link routerLink="preconnect" routerLink="https://fonts.gstatic.com" crossorigin>
  <link routerLink="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap" rel="stylesheet"> 
</head>
<body>
  <nav>
    <a routerLink="index.html"><img src="assets/images/icons8-material-ui-48.png"/>   </a>
    <div class="sideMenu">
      <img src="./assets/images/menu-icon.svg" alt="Menu Icon">
    </div>
    <div class="menu">
      <div class="links">
        <a routerLink="/listagemClientes">Clientes</a>
        <a routerLink="/cartoes">Cartões</a>
        <a routerLink="/compras">Compras</a>
        <a routerLink="/relatorios">Relatórios</a>
      </div>
      <div class="buttons">
        <button><a routerLink="/login">Login</a> </button>
        <button id="signUp"><a routerLink="/cadastroClientes"> Cadastrar cliente(s)</a> </button>        
      </div>
    </div>
  </nav>

