
    <h2> Todos os direitos reservados para CleanFinance&copy;. </h2>
    <div class="grid-footer">
      <div class="grid-ul">
          <div class="item">
              <ul>
                  <li><b>Mapa do site</b></li>
                  <li> <a routerLink="/listagemClientes"> Clientes </a> </li>
                  <li> <a routerLink="/cartoes"> Cartões</a> </li>
                  <li> <a routerLink="/compras"> Compras </a> </li>
                  <li> <a routerLink="/relatorios"> Relatórios </a> </li>
              </ul>
          </div>

      <div class="item">
          <ul>
              <li><b>Fale conosco</b></li>
              <li> <a routerLink="/listagemClientes"> Clientes </a> </li>
              <li> <a routerLink="/cartoes"> Cartões</a> </li>
              <li> <a routerLink="/compras"> Compras </a> </li>
              <li> <a routerLink="/relatorios"> Relatórios </a> </li>
          </ul>
      </div>
      
      </div>
   
    <span> </span>
  
